<div class="section">
	<h1>Get instant feedback for your ideas!</h1>
	<a href="/campaigns/new" class="big button">Create a Campaign</a>
</div>

<div class="section">
	<h2>Give feedback</h2>
	
	<ul>
		<li>
			<a href="">Pixel game</a>
		</li>
		<li>
			<a href="">Private micro-blogging and time management tool</a>
		</li>
		<li>
			<a href="">Which call to action sounds better?</a>
		</li>
	</ul>
</div>