<div class="section">
	<h1>Get feedback for your ideas!</h1>
	<a href="/campaigns/new" class="big button">Create a Campaign</a>
</div>

<div class="section">
	<h2>Give feedback</h2>
	
	<ul>
		<% @recent.each do |c| %>
			<%= render 'campaigns/small', campaign: c %>
		<% end %>
	</ul>
</div>