<div class="campaign">
	
	<div class="photo">
		<img src="http://www.gravatar.com/avatar/<%= campaign.user.gravatar %>?s=40&default=mm" />
	</div>
	<div class="details">
		<div class="camptitle"><%= link_to campaign.title, campaign %></div>
		<div class="short">
			<%= truncate campaign.body, length: 150, separator: ' ' %>
		</div>
	</div>
	<div class="tag_list">
	<% campaign.categories.each do |cat| %>
		<span class="tag">
			<%= link_to cat.name, "/categories/#{cat.name}" %>
		</span>
	<% end %>
	</div>
	<div class="clearer"></div>
</div>