$lg: #f6f6f2;
$mg: rgb(217,209,199);
$dg: rgb(140,134,129);

$qu: rgb(234,96,68);
$ca: rgb(255,164,115);
$an: rgb(24,171,119);
$co: rgb(123,225,154);

$nv: rgb(5,34,81);

$pi: rgb(194,62,85);
$lp: lighten($pi, 20%);