$lg: rgb(242,237,228);
$mg: rgb(217,209,199);
$dg: rgb(140,134,129);

.campaign, .small-profile {
	border:1px solid $mg;
}
.campaign .body {
	padding-top:0.9em;
}
.campaign p, .campaign pre, .feedback p, .feedback pre {
	margin:0 0 0.9em 0;
}
.feedbacks, .feedback {
	border:1px solid $mg;
}
.campaign, .campaign pre, .small-profile, .feedbacks {
	padding:0.9em;
}
.campaign .body, .comment {
	border-top:1px dotted $mg;
}
.feedback {
	margin-top:1em;
	padding:0.5em;
}
.comment {
	padding:0.5em 0;
}
.question {
	color:$dg;
	font-weight:normal;
}
pre {
	background:$lg;
}
.tag {
	background:$lg;
	padding:0.2em 0.5em;
	border-radius:4px;
	margin:0 0.4em 0.9em 0.4em;
	border:1px solid $dg;
	float:right;
}
.tag:hover {
	background:$mg;
}
.feedback .small-profile {
	float:right;
	margin-bottom:0.9em;
}
.review, .review form {
	float:left;
}

