/* need to break up feedback, comments etc (?) */

$lg: #f6f6f2;

$qu: rgb(234,96,68);
$ca: rgb(255,164,115);
$an: rgb(24,171,119);
$co: rgb(123,225,154);

$nv: rgb(5,34,81);

$pi: rgb(194,62,85);

.campaign {
	border-top:1px solid $pi;
}
.camptitle, .campaign h2 {
	color:$nv;
}
.camptitle {
	font-size:1.1em;
	margin-bottom:0.4em;
}
.campaign .photo {
	float:left;
	padding:0 0.9em 2em 0;
}
.campaign .body {
	padding-top:0.9em;
}
.campaign p, .campaign pre, .feedback p, .feedback pre {
	margin:0 0 0.9em 0;
}
.feedbacks {
	border-top:1px solid $an;
}
.feedback {
	border-top:1px solid $co;
}
.campaign, .campaign pre, .small-profile, .feedbacks {
	padding:0.9em;
}
.campaign .body {
	border-top:1px dotted $ca;
}
.feedback {
	margin-top:1em;
	padding:0.5em;
}
.feedback .body {
	margin-left:4.2em;
}
.feedback .small-profile .details a, .feedback .small-profile .score {
	font-size:0.8em;
}
.feedback .small-profile .score {
	display:inline;
}
.comments {
	margin-top:0.9em;
}
.comment {
	padding:0.5em 0;
	font-size:0.8em;
}
.question, .answer {
	font-weight:normal;
}
/* need to select parent or change file */
p ~ .question, p ~ .answer {
	margin-left:0.9em;
}
strong.question {
	color:$pi;
}
strong.answer {
	color:$an;
}
pre {
	background:$lg;
}
.feedback .small-profile {
	float:right;
	padding:0.4em;
}
.review {
	float:left;
	text-align:center;
}
.comment {
	border-top:1px dotted $co;
}

