// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
	border-top: 1px dotted black;
	margin-top: 10px;
}

.comments .comment {
	padding: 5px;
}

.comments .comment:nth-child(odd) {
	background: #eee;
}

.comment-form {
	margin-top: 10px;
}