<!DOCTYPE html>
<html>
<head>
  <title>Feedbacker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<div class="logo">
		<a href="/">Feedbacker</a>
	</div>

	<div class="nav">
		<ul>
			<li><a href="/browse">Browse</a></li>
			<li><a href="/campaigns/new">Create Campaign</a></li>
		</ul>
	</div>

	<div class="user">
		<ul>
			<li><a href="/signup">Sign up now!</a></li>
			<li><a href="/login">Log in</a></li>
			<li><a href="/logout">Log out</a></li>
		</ul>
	</div>
</div>

<%= yield %>

</body>
</html>
